html{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

body {
  font-family: Futura;
  src: url(/boskalis.com/assets/fonts/FuturaStdBold.otf)

}

.boka_button{
  background-color: yellow;
  height: 60px;
  width: 200px;
  border:none;
  font-family: Futura;
  font-weight: bold;
}

.topbar{
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.topbar-left{
  width:20%;
  align-items: center;
  display: flex;
}

.logo{
  padding-left: 30px;
}

.topbar-right{
  width:80%;
  vertical-align: middle;
  display: inline-block;
  padding: 0%;
  text-align: end;
  justify-content: flex-end;
}

li{
  display:inline;
  padding: 20px;
}

.bottom-bar{
  text-align: right;
  padding: auto;
  margin-top: 10px;
  background-color: rgb(234 238 242);
  height: 40px;
  font-weight: 400;
}


.video{
  background-color: rgb(22 49 91);
  min-width:100%;
  max-width: 100%;
  margin: auto;
  padding: auto;
}

.video video {
  height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

header{
  position: relative;
  text-align: left;
  display: grid;
}

header h1{
  font-size: 4rem;
}

header h2{
  font-size: 2rem;
  margin-top: -50px;
}

.title {
  display: grid;
  position: absolute;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 30vw;
  flex-direction: column;
  flex-shrink: 0;
  color: white;
}



.news{
  flex-direction: column;
  white-space: nowrap;
  background-color: rgb(213 222 230);
  height: auto;
  display: grid;
  padding: 30px;
  justify-content: center;
  text-align: center;
}

.news-container{
  width: 60vw;
  display: block;
}


hr.solid{
  color: black;
  border-top: 10px solid;
  border-radius: 10px;
  width: 60vw;
}

.grid-cards{
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  grid-template-rows: 28rem 1fr;
  margin-top: 2.5rem;
}

picture img {
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

img, video {
  height: auto;
  max-width: 100%;
}